body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Mobile first (base) */
.header-background-color {
	background-color: rgb(14, 173, 212);
	width: 100%;
	height: 25%;
	position: absolute;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
	clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
	z-index: -1;
}

.aboutme {
	position: relative;
}

.aboutme,
.mywork,
.contactme {
	width: 100%;
}

.myname {
	display: flex;
	flex-direction: column;
	justify-content: left;
	position: absolute;
	top: 17%;
	left: 50%;
}

.header-image {
	width: 90%;
	margin-top: 5%;
}

.footer-image {
	width: 100%;
}

.project-image-box {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 16/9;
}

article {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

p {
	width: 100%;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

p,
h1,
h3 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.projects-container {
	width: 100%;
}

.project {
	margin: 2.5rem 2.5rem 0;
}

.aboutme,
.mywork {
	margin-bottom: 5rem;
}

.content-wrapper,
.contactme,
.mywork,
.projects-container,
.project {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutme {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my-firstname {
	font-size: 3rem;
	font-weight: bold;
	text-shadow: 2px 2px 0 black;
	padding: 2px;
	color: white;
}

.my-secondname {
	font-size: 3rem;
	font-weight: bold;
	text-shadow: 2px 2px 0 black;
	padding: 2px;
	color: white;
}

.contactme {
	color: white;
	background-color: rgb(14, 173, 212);
}

.aboutme-flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
}

.image-1 {
	background-color: blue;
}

.image-2 {
	background-color: yellow;
}

.image-3 {
	background-color: green;
}

.image-4 {
	background-color: orange;
}

.image-5 {
	background-color: red;
}

.image-6 {
	background-color: purple;
}

.about-me-heading,
.contact-me-heading {
	margin-top: 5%;
	margin-bottom: 0.8rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top: 3rem;
	font-size: 2.5rem;
}

.icon {
	font-size: 2rem;
}

.icon-box-top {
	display: flex;
	width: 90%;
	justify-content: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

.middle-icon {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
}

.icon-box-bottom {
	margin-top: 2%;
	margin-bottom: 1.5rem;
}

.about-me-text,
.contact-me-text {
	font-size: 1.6rem;
	margin-left: 0.9rem;
	margin-right: 0.9rem;
	width: 90%;
}

.image-aboutme-flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 2px solid red */
}

.project-info {
	width: 90%;
}

.content-wrapper {
	width: 100vw;
}

/* Tablet 768px*/
@media (min-width: 768px) {
	.image-aboutme-flex-container {
		gap: 2rem;
	}

	.about-me-heading {
		margin-top: 0;
		margin-bottom: 0;
	}

	.about-me-text {
		padding-top: 0;
		padding-bottom: 0;
	}

	.header-background-color {
		height: 45%;
	}

	.myname {
		top: 47%;
		left: 72%;
	}
}

/* Tablet 768px*/
@media (min-width: 768px) {
	.image-aboutme-flex-container {
		gap: 2rem;
	}

	.about-me-heading {
		margin-top: 0;
		margin-bottom: 0;
	}

	.about-me-text {
		padding-top: 0;
		padding-bottom: 0;
	}

	.header-background-color {
		height: 45%;
	}

	.myname {
		top: 47%;
		left: 72%;
	}
}

