body {
	display: flex;
	flex-direction: column; /* optional */
	align-items: center; /* horizontal centering */
	justify-content: center; /* vertical centering if desired */
	min-height: 100vh; /* ensures vertical centering works */
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: ;
}

.header-background-color {
	background-color: rgb(206, 149, 27);
	width: 110%;
	height: 90%;
	position: absolute;
	/* top: -20%; */
	clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
	z-index: -1;
}

.aboutme {
	position: relative;
}

.aboutme,
.mywork,
.contactme {
	width: 100%;
}

.myname {
	display: flex;
	flex-direction: column;
	justify-content: left;
	position: absolute;
	top: 73%;
	left: 33%;
}

.header-image {
	width: 40%;
	margin-top: 5%;
}

.footer-image {
	width: 100%;
}

.project-image-box {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 16/9;
}

article {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

p {
	width: 100%;
	/* padding-left: 1rem; */
	/* padding-right: 1rem; */
	padding-top: 1rem;
	padding-bottom: 1rem;
}

p,
h1,
h3 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.projects-container {
	width: 100%;
}

.project {
	margin: 2.5rem 2.5rem 0;
	/* flex-grow: 1; */
}

.aboutme,
.mywork {
	margin-bottom: 5rem;
}

.content-wrapper,
/* .aboutme, */
.contactme,
.mywork,
.projects-container,
.project {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutme {
	display: flex;
}

.my-firstname {
	font-size: 7rem;
	font-weight: bold;
	text-shadow: 2px 2px 0 black;
	padding: 2px;
	color: white;
}

.my-secondname {
	font-size: 7rem;
	font-weight: bold;
	text-shadow: 2px 2px 0 black;
	padding: 2px;
	color: white;
}

.contactme {
	color: white;
	background-color: rgb(206, 149, 27);
}

.aboutme-flex-container {
	margin-top: 8%;
	margin-bottom: 3%;
	background-color: white;
	width: 50%;
	height: 60%;
}

.header-image {
	margin-left: 5%;
}

.image-1 {
	background-color: blue;
}

.image-2 {
	background-color: yellow;
}

.image-3 {
	background-color: green;
}

.image-4 {
	background-color: orange;
}

.image-5 {
	background-color: red;
}

.image-6 {
	background-color: purple;
}

.about-me-heading,
.contact-me-heading {
	margin-top: 1.5rem;
	margin-bottom: 0.8rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.icon {
	font-size: 2rem;
}

.icon-box-top {
	display: flex;
	margin-left: 2rem;
	width: 90%;
	justify-content: end;
	margin-top: 1rem;
}

.middle-icon {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
}

.icon-box-bottom {
	margin-bottom: 1rem;
}

.aboutme-flex-container {
	display: flex;
	flex-direction: column;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.about-me-text,
.contact-me-text {
	font-size: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	width: 90%;
	/* background-color: pink; */
}

/* .icon-box-top
{background-color: green;} */

.about-me-heading {
	font-size: 3rem;
}

.image-aboutme-flex-container {
	display: flex;
	align-items: center;
	/* background-color: blueviolet; */
}
